nav{
    text-align: center;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover{
    color: aqua;
}
footer{
    background-color: #ff79f4;
    text-align: center
}
